* {box-sizing: border-box;
    margin: 0;}
body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: 100%
    }
header{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
}
header li{
    display: inline-block;
    width: 4%;
}
header ul{
    padding: 0%;
}
ul{
    list-style-type: none;
}

#logo{
    width: 20%;
    padding-top: 15px;
    vertical-align: middle;
}
#logo img {
    width: 66.81;
    height: 80px;
}
#sec1 {
    height: 78vh;
    background-image: url(imagens/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}

#banner{
    position: absolute;
    top: 40%;
    right: 38%;
    text-align: center;
    color: white;
}
section h1{
    width: 445px;
    height: 108px;
    font-size: 72px;
    letter-spacing: 10.8px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style:normal;
    color: white;
}
hr{
    border: none;
    width: 100%;
    border-top: 0.5px solid
}
p {
    padding: 5%;
}

#booktable {
    background-image: url(imagens/book-table-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    position: fixed;
    top: 42%;
    left: 95%;
    width: 89%;
    color: white;
}
#viewmenu{
    background-image: url(imagens/view-menu-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    width: 89%;
    position: fixed;
    top: 42%;
    right: 53%}

.esquerda{
    display: inline-block;
    width: 30%;
}

#menu1{
     width: 400px;
    height: 350px;
    position: absolute;
    right: 55%;
    top: 120%;
}

.menulist {
    width: 600px;
    height: auto;
    text-align: center;
    background-color: #faf5f0;
    font-weight:bold;    
}